# Ignore compiled files
Learning NLP/Sentiment_Analysis_twiter/Candidature.csv

/LeetCodeTest/

Candidature.csv

SideProject/Yt_vid/Minecraft Parkour Gameplay No Copyright_video_only.mp4

tiktok-voice-1f514b885d27.json

Side_Project/Text_top_speech/dream_tiktok_voice.mp3
Side_Project/Text_top_speech/output.mp3
Side_Project/Text_top_speech/TTS.ipynb

Side_Project/Yt_vid/Mc.mp4
Side_Project/Yt_vid/Yt_vid_download.ipynb

Side_Project/GIF_to_MP4/tenor.gif
Side_Project/GIF_to_MP4/tenor.mp4
Side_Project/GIF_to_MP4/gifmp4.ipynb

ML/LLM_avis_restau/__pycache__/
ML/LLM_avis_restau/chrome_langchain_db/